/**
 * @file frdm_k64f.overlay
 * @brief overlay for this (older) NXP board
 * @note
 * it is using a MIDI arduino shield but I disconnected
 * the 5V and connected it to 3.3V instead to protect the MCU inputs.
 * I should lower the output and input from 220R resistors to 33R but it
 * seems to "work" on some interfaces without that in some shape or form.
 *
 * @author Jan-Willem Smaal <usenet@gispen.org>
 * @date 20260102
 * @license SPDX-License-Identifier: Apache-2.0
 */

/*
 * Classic MIDI1.0 over DIN5 plug
 */
&uart3 {
    status = "okay";
    /* Set it to the MIDI baud rate */
    current-speed = <31250>;
};

/* 
 * Because on the FRDM_K64F each channel has it's own IRQ we need to be 
 * specific here can't just enable pit0 and hope for the best. 
 */ 
&pit0 {
    status = "okay";
};

&pit0_channel0 {
    status = "okay";
};

&pit0_channel1 {
    status = "okay";
};

/* Enable these for the scope outputs */
&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

/ {
	usb_midi: usb_midi {
		compatible = "zephyr,midi2-device";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <1>;
		label = "Zephyr USB-MIDI Sample";

		midi_in_out@0 {
			reg = <0 1>;
			protocol = "midi1-up-to-128b";
			label = "MIDI-IN-OUT";
		};
	};
	leds {
		compatible = "gpio-leds";
		/* Everytime a 0xF8 is sent we toggle pin PTC3  */
		freq_out: freq_out {
			gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;
			label = "FREQ_GEN_OUT";
		};
		/* Everytime a 0xF8 is received we toggle pin PTB9  */
		rx_midi_clk: rx_midi_clk{
			gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;
			label = "FREQ_RX_OUT";
		};
	};
    aliases {
        i2c0 = &i2c0;
        midi = &uart3;
    };
};
